<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a routerLink="#home" class="w3-bar-item w3-button">Demo App</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a routerLink="welcome" class="w3-bar-item w3-button">Home Page</a>
      <a onclick="document.getElementById('id01').style.display='block'" routerLink="welcome" style="width:auto;" class="w3-bar-item w3-button">User Registration</a>
      <a routerLink="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>
  
  